@import "../variables.scss";

.container {

	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100vw;
}

#topLogo {
	width: 110px;
	height: auto;

	margin-left: auto;
	margin-right: auto;

	margin-top: 50px;

	display: block;
}

#landingTitle {
	min-height: 35px;
	width: 50vw;
	height: auto;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15vh;

	display: block;

	content: url("../assets/svg/title.svg");
	
}

@media screen and (max-width: 900px)
{
	#topLogo {
		margin-top: 25px;
	}
	#landingTitle {
		min-height: 95px;
		margin-bottom: 16vh;
		content: url("../assets/svg/title-m.svg");
	}
}

#slideshow {
	width: 100vw;

	margin-left: auto;
	margin-right: auto;

	margin-bottom: 46px;
	margin-top: 44px;

	display: block;
}

#prereg-form {
	text-align: center;

	width: 100%;

	.label {
		margin-bottom: 10px;
	}

	#input_fields {
		width: 300px;

		.input, #select {
			margin-top: 10px;
			width: 100%;
			height: 27px;
		}

		#submit {
			margin-top: 10px;
		}
	}

	@media screen and (max-width: 600px) {
		#input_fields {
			width: 250px;
		}
	}

	@media screen and (max-width: 420px) {
		#input_fields {
			width: 200px;
		}
	}
}

@media screen and (max-width: 600px) {
	#prereg-form {
		margin-bottom: 80px;
	}
}

#footer {

	padding-top: 5px;

	background-color: $primary-color;

	z-index: 100;

	width: 100vw;

	#aboutButton {
		cursor: pointer;
	
		width: 71px;
		height: auto;
	
		margin-left: 30px;
		margin-bottom: 20px;
	}
	
	#socialButtons {
		float: right;

		display: flex;
		.social-button {
			cursor: pointer;
		
			width: 24px;
			height: auto;
		
			margin-right: 30px;
			margin-bottom: 20px;
		}
	}
}

/* Styling of mat-select */

::ng-deep .mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-flex {

	padding-top: 0px !important;
	padding-left: 14px !important;
	padding-right: 14px !important;

	border-radius: 65px !important;
	background: $white-color !important;
	border-style: none !important;
}

::ng-deep .mat-form-field-infix {
	border: 0 !important;
	padding: 0 0 !important;
}

::ng-deep .mat-select-value {
	font-family: Poppins !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 18px !important;
	line-height: 27px !important;

	color: $primary-color !important;
}

::ng-deep .mat-form-field-underline {
	display: none !important;
}

::ng-deep .mat-form-field.mat-focused .mat-select-arrow {
	color: $secondary-color !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
	transform: translateY(0%) !important;
}