<div class="container">
  <img id="topLogo" src="assets/svg/logo.svg">


  <div id="slideshow">
    <slideshow [imageUrls]="imageUrls"
    [height]="'42vh'"
    [autoPlay]="true"
    [autoPlayInterval]="'5000'"
    [showArrows]="true"
    [showCaptions]="false"
    [arrowSize]="'10px'"></slideshow>
  </div>


  <img id="landingTitle">
</div>


<app-overlay #overlay [show]="isOverlayOpen" (closeEvent)="closeOverlay($event)"></app-overlay>


<footer>
  <div id="footer">
    <img #toggleButton id="aboutButton" (click)="showOverlay()" src="assets/svg/about.svg">
    <div id="socialButtons">
      <img class="social-button" id="linkedinButton" src="assets/svg/linkedin.svg">
      <img class="social-button" id="instaButton" src="assets/svg/insta.svg">
    </div>
  </div>
</footer>