<div class="container">
  <img id="topLogo" src="assets/svg/logo.svg">


  <div id="slideshow">
    <slideshow *ngIf="!isOverlayOpen" [imageUrls]="imageUrls"
    [height]="'38vh'"
    [autoPlay]="true"
    [autoPlayInterval]="'5000'"
    [showArrows]="true"
    [showCaptions]="false"
    [arrowSize]="'10px'"></slideshow>
  </div>

  <form *ngIf="!currentStatus" id="prereg-form" [formGroup]="preregForm" (ngSubmit)="submitForm()">
    <p class="text label">Unlock the Beta Access</p>
    <div class="col-flex hcentered" id="input_fields">
      <input class="input" placeholder="Name" formControlName="name">
      <input class="input" placeholder="College email ID" formControlName="email">
      <mat-form-field id="select" appearance="fill">
        <mat-select floatLabel='never' placeholder='College' formControlName='college'>
          <mat-option *ngFor="let college of collegeNames" [value]="college">
            {{college}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input *ngIf="collegeEntered === 'Other'"  class="input" placeholder="College" formControlName="collegeName">
      <input [ngClass]="{'button-trans': true, 'button-invalid': preregForm.invalid}"[disabled]="preregForm.invalid" id="submit" type="submit" value="Pre-register">
    </div>
  </form>
  <p *ngIf="currentStatus" class="text label hcentered">Thank you!</p>
  <p *ngIf="currentStatus" class="text label-small hcentered">We will get back to you soon.</p>
</div>

<app-overlay #overlay [show]="isOverlayOpen" (closeEvent)="closeOverlay($event)"></app-overlay>


<footer id="footer">
  <div >
    <img #toggleButton id="aboutButton" (click)="showOverlay()" src="assets/svg/about.svg">
    <div id="socialButtons">
      <a href="https://www.linkedin.com/company/opproject"><img class="social-button" id="linkedinButton" src="assets/svg/linkedin.svg"></a>
      <a href="https://www.instagram.com/opproject.club/"><img class="social-button" id="instaButton" src="assets/svg/insta.svg"></a>
    </div>
  </div>
</footer>