
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$landing-page-primary: mat-palette($mat-indigo);
$landing-page-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$landing-page-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$landing-page-theme: mat-light-theme((
  color: (
    primary: $landing-page-primary,
    accent: $landing-page-accent,
    warn: $landing-page-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($landing-page-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "./variables.scss";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

body {
	background-color: $primary-color;
}

footer {
	position: fixed;
	bottom: 0;
}

.text {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;

	color: $text-color;

	margin-top: 0px;
	margin-bottom: 0px;
}

.label {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
}

.input {

	padding-left: 14px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;

	color: $primary-color;

	border-radius: 65px;
	background: $white-color;
	border-style: none;

	outline: none;

	min-width: 0;
}

.col-flex {
	display: flex;
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.hcentered {
	display: inline-block;
	margin: 0 auto;
}

.button-trans {
	background: transparent;
	border: 1.5px solid $white-color;
	border-radius: 39px;

	padding: 3px 14px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;

	text-align: center;

	color: $text-color;

	outline: none;
}

.button-trans:hover {
	background-color: $white-color;
	color: $secondary-color;
}
